name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/**'
      - '.github/workflows/**'
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Start Docker Environment
      run: docker compose up -d --build

    - name: Wait for Database
      run: |
        echo "Waiting for MySQL to be ready..."
        sleep 20

    - name: Run Quality Tests (q_test.php)
      run: docker compose exec -T app php q_test.php

    - name: Run Unit Tests (u_test.php)
      run: docker compose exec -T app php u_test.php

    - name: Stop Containers
      if: always()
      run: docker compose down

  build-and-push:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/articles-app:latest